body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1{
  color: #283C50;

}

input, select{
  width: 250px;
  height: 25px;
  margin: 1rem 0.5rem;
  box-shadow: 0 0 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.app{
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  padding: 2rem;
  text-align: center;


}

.cryptoContainer{
  justify-content: center;
  margin-top: 1rem;
  background-color: #F0F5F5;
  display: flex;
  flex-wrap: wrap;
  gap:2rem;


 

}

.cryptoCard{
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  max-width: 375px;



 


 
&:hover{
  /* transform: translateY(-5px);*/
  zoom: 1.1; 
  transform: scale(1.2);
  transition: background-color 2s ease-out 100ms;
  background-color: #B6B6B6;
}

/* Some additional CSS for the images*/
img{
  width:60px;
  height:60px;
  margin-top: 1rem;
}
h2{
  margin: 0.5rem 0;
  color:#02020e

}
p{
  color:#020214;
  margin:0.2rem 0;
}


}

footer{
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
margin-top: auto;
  
  position: relative;

}


.Crypto-Image {
  overflow: hidden;
  transition-duration: 5s;
  transition-property: transform;
}
.Crypto-Image:hover {
  transform: rotate(360deg);
  /* -webkit-transform: rotate(360deg); */
}

/* CSS Flex for responsiveness for long texts inside the P tag ,
 it prevents from getting out of the div card for all types of devices*/

.cryptoContainer p{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 

  
 
}  